.chart {
  background-image: url("metromap.jpg");
}
.main text {
font: 10px sans-serif;
}
.axis line, .axis path {
shape-rendering: crispEdges;
stroke: black;
fill: none;
}

circle {
fill: #2C074F;
opacity: 0.5;
}
circle:hover {
  opacity: 1;
}
