#mapSpace {
  background-image: url("metromap.jpg");
  margin: 0 auto;
}

.header {
  color: #27383D;
  font-family: 'Raleway', sans-serif;
  border: solid #808389 1px;
  padding: 50px;
  background-color: #f4f6f9;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 18px;
}

text {
font: 1em sans-serif;
color: #27383D;
}

circle {
fill: black;
opacity: 0.7;
r: 16;
}
circle:hover {
  opacity: .8;
  /*fill: #FA0265;*/
  r: 23;
}
.selected {
  fill: #FA0265;
  opacity: .8;
  r: 23;
}
